body {
	background-color: rgb(50, 60, 57);
	overflow: hidden;
	margin:0px;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(DirtBackground0.png), url(DirtBackground1.png), url(DirtBackground2.png), url(DirtBackground3.png), url(DirtBackground4.png), url(DirtBackground5.png), url(DirtBackground6.png), url(discordButton.png), url(discordButtonHover.png), url(githubButton.png), url(githubButtonHover.png), url(RockBackground0.png), url(RockBackground1.png), url(RockBackground2.png), url(RockBackground3.png), url(RockBackground4.png), url(steamButton.png), url(steamButtonHover.png), url(Ycon.png), url(YconPixel.png), url(youtubeButton.png), url(youtubeButtonHover.png);
}

html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}

nav {
  overflow: shown;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  padding-top: 60px;
}

nav ul {
  overflow: shown;
  text-align: center;
  /*background: linear-gradient(90deg, rgba(195, 255, 228, 0) 0%, rgba(145, 225, 228, 0.2) 25%, rgba(105, 215, 228, 0.2) 75%, rgba(95, 205, 228, 0) 95%, rgba(95, 205, 228, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);*/
}

nav ul li {
  overflow: shown;
  display: inline-block;
  height: 500px;
}
/*
nav ul li a {
	padding: 5px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}
*/
.newgroundsButton {
	background: url("../images/newgroundsButton.png") no-repeat;
	width: 47px; 
	height: 41px;
	animation: bobFloat 5s linear infinite;
	animation-delay: -150ms;
}
.youtubeButton {
	background: url("../images/youtubeButton.png") no-repeat;
	width: 47px; 
	height: 41px;
	animation: bobFloat 5s linear infinite;
	animation-delay: 50ms;
}
.githubButton {
	background: url("../images/githubButton.png") no-repeat;
	width: 47px; 
	height: 41px;
	animation: bobFloat 5s linear infinite;
	animation-delay: 150ms;
}
.steamButton {
	background: url("../images/steamButton.png") no-repeat;
	width: 47px; 
	height: 41px;
	animation: bobFloat 5s linear infinite;
	animation-delay: 250ms;
}
.discordButton {
	background: url("../images/discordButton.png") no-repeat;
	width: 47px; 
	height: 41px;
	animation: bobFloat 5s linear infinite;
	animation-delay: 350ms;
}
.twitchButton {
	background: url("../images/twitchButton.png") no-repeat;
	width: 47px; 
	height: 41px;
	animation: bobFloat 5s linear infinite;
	animation-delay: 450ms;
}
.Ycon {
	background: url("../images/YCon.png") no-repeat;
	width: 92px;
	height: 120px;
	background-size: 92px 120px;
	position: relative;
    top: -50px;
}
.newgroundsButton:hover {
	background: linear-gradient( rgba(50, 65, 55, 0.25), rgba(50, 65, 55, 0.25) ), url("../images/newgroundsButtonHover.png") no-repeat;
	background-color: rgba(50, 65, 55, 0.5);
	width: 47px; 
	height: 41px;
	/* animation-play-state: paused; */
}
.youtubeButton:hover {
	background: linear-gradient( rgba(50, 65, 55, 0.25), rgba(50, 65, 55, 0.25) ), url("../images/youtubeButtonHover.png") no-repeat;
	background-color: rgba(50, 65, 55, 0.5);
	width: 47px; 
	height: 41px;
	/* animation-play-state: paused; */
}
.githubButton:hover {
	background: linear-gradient( rgba(50, 65, 55, 0.25), rgba(50, 65, 55, 0.25) ), url("../images/githubButtonHover.png") no-repeat;
	background-color: rgba(50, 65, 55, 0.5);
	width: 47px; 
	height: 41px;
	/* animation-play-state: paused; */
}
.steamButton:hover {
	background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(50, 65, 55, 0.25) ), url("../images/steamButtonHover.png") no-repeat;
	background-color: rgba(50, 65, 55, 0.5);
	width: 47px; 
	height: 41px;
	/* animation-play-state: paused; */
}
.discordButton:hover {
	background: linear-gradient( rgba(50, 65, 55, 0.25), rgba(50, 65, 55, 0.25) ), url("../images/discordButtonHover.png") no-repeat;
	background-color: rgba(50, 65, 55, 0.5);
	width: 47px; 
	height: 41px;
	/* animation-play-state: paused; */
}
.twitchButton:hover {
	background: linear-gradient( rgba(50, 65, 55, 0.25), rgba(50, 65, 55, 0.25) ), url("../images/twitchButtonHover.png") no-repeat;
	background-color: rgba(50, 65, 55, 0.5);
	width: 47px; 
	height: 41px;
	/* animation-play-state: paused; */
}
/* .Ycon:hover {
	background: url("../images/Ycon.png") no-repeat;
	width: 92px;
	height: 120px;
	background-size: 92px 120px;
}*/

#top-container {
	background-color: rgb(95, 205, 228);
	position:absolute;
	overflow:hidden;
	width:100%;
	height:20%;
	z-index:2;
}
#sliding-container {
	position:absolute;
	overflow:hidden;
	display: flex;
	width:100%;
	height:100%;
	top:20%;
	bottom:80%;
	z-index:10;
}
.sliding-background-0 {
  background: url("../images/DirtBackground0.png") repeat-x;
  height: 100%;
  width: 300%;
  z-index: 9;
  position: absolute;
  animation: slide 60s linear infinite;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
.sliding-background-1 {
  background: url("../images/DirtBackground1.png") repeat-x;
  height: 100%;
  width: 300%;
  z-index: 8;
  position: absolute;
  animation: slide 55s linear infinite;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
.sliding-background-2 {
  background: url("../images/DirtBackground2.png") repeat-x;
  height: 100%;
  width: 300%;
  z-index: 7;
  position: absolute;
  animation: slide 50s linear infinite;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
.sliding-background-3 {
  background: url("../images/DirtBackground3.png") repeat-x;
  height: 100%;
  width: 300%;
  z-index: 6;
  position: absolute;
  animation: slide 45s linear infinite;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
.sliding-background-4 {
  background: url("../images/DirtBackground4.png") repeat-x;
  height: 100%;
  width: 300%;
  z-index: 5;
  position: absolute;
  animation: slide 40s linear infinite;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
.sliding-background-5 {
  background: url("../images/DirtBackground5.png") no-repeat;
  height: 100%;
  width: 300%;
  z-index: 4;
  position: absolute;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
.sliding-background-6 {
  background: url("../images/DirtBackground6.png") repeat-x;
  height: 100%;
  width: 300%;
  z-index: 3;
  position: absolute;
  animation: slide 35s linear infinite;
      align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}
@keyframes slide {
	0%{ transform: translate3d(0, 0, 0); }
	100%{ transform: translate3d(-2400px, 0, 0); }
}
@-webkit-keyframes slide {
	0%{ -webkit-transform: translate3d(0, 0, 0); }
	100%{ -webkit-transform: translate3d(-2400px, 0, 0); }
}
@keyframes bobFloat {
	0%{ transform: translate3d(0, 0, 0); }
	10%{ transform: translate3d(0, -1px, 0); }
	20%{ transform: translate3d(0, -3px, 0); }
	30%{ transform: translate3d(0, -5px, 0); }
	40%{ transform: translate3d(0, -3px, 0); }
	50%{ transform: translate3d(0, -1px, 0); }
	60%{ transform: translate3d(0, 1px, 0); }
	70%{ transform: translate3d(0, 3px, 0); }
	80%{ transform: translate3d(0, 5px, 0); }
	90%{ transform: translate3d(0, 3px, 0); }
	100%{ transform: translate3d(0, 1px, 0); }
}
@-webkit-keyframes bobFloat {
	0%{ -webkit-transform: translate3d(0, 0, 0); }
	10%{ -webkit-transform: translate3d(0, -1px, 0); }
	20%{ -webkit-transform: translate3d(0, -3px, 0); }
	30%{ -webkit-transform: translate3d(0, -5px, 0); }
	40%{ -webkit-transform: translate3d(0, -3px, 0); }
	50%{ -webkit-transform: translate3d(0, -1px, 0); }
	60%{ -webkit-transform: translate3d(0, 1px, 0); }
	70%{ -webkit-transform: translate3d(0, 3px, 0); }
	80%{ -webkit-transform: translate3d(0, 5px, 0); }
	90%{ -webkit-transform: translate3d(0, 3px, 0); }
	100%{ -webkit-transform: translate3d(0, 1px, 0); }
}
