body {
		padding: 0; margin: 0;
		background-color: black;
	}
	.b0 {
		position: absolute; top: 5%; left: calc(50% - 64px); 
	}
	.b1 {
		position: absolute; top: 10%; left: calc(20% - 64px); 
	}
	.b2 {
		position: absolute; top: 20%; right: calc(20% - 64px); 
	}
	.b3 {
		position: absolute; top: 30%; left: calc(20% - 64px); 
	}
	.b4 {
		position: absolute; top: 40%; right: calc(20% - 64px); 
	}
	.b5 {
		position: absolute; top: 50%; left: calc(20% - 64px); 
	}
	.b6 {
		position: absolute; top: 60%; right: calc(20% - 64px); 
	}
	.b7 {
		position: absolute; top: 70%; left: calc(20% - 64px); 
	}
	.b0, .b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8 {
		width: 128px; height: 128px;
		z-index: 1;
		opacity: 1;
		transition: transform .05s;
	}
	.b1:hover, .b2:hover , .b3:hover , .b4:hover, .b5:hover, .b6:hover, .b7:hover, .b8:hover  {
		transform: scale(1.5); 
	}
	
	.planet0 {
		position: absolute; top: 25%; left: 45%; 
	}
section#background {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}
section#content {
	height: auto;
	width: 100%;
	padding: 100px 0;
}
section#content.container {
	max-width: 1400px;
	margin: 0 auto;
}

